.contactContainer {
  min-width: 260px;
  display: flex;
  padding: 5px;
  gap: 15px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.contactItem {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
  height: 30px;
}

.btn {
  height: 30px;

  width: 70px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(235, 231, 231);
}

.iconPerson {
  font-size: 1.3em;
}
